$main-color: #404447;
$sb-hover-color: #fe9230;
$sb-link_color: #5a5b5e;
$poppins-font-family: "Poppins", sans-serif;

@mixin font-family(
  $color: $main-color,
  $font-size: 16px,
  $weight: 500,
  $font-family: $poppins-font-family
) {
  font-family: $font-family;
  font-weight: $weight;
  color: $color;
  font-size: $font-size;
}

.main {
  grid-area: main;
  box-sizing: border-box;
  padding: 18px 0 0 30px;
  background-color: rgba(255, 255, 255, 0.8);
  display: grid;
  grid-template:
    "credit-card statistics statistics"
    "earning montly-sale calender"
    "earning yealy-saled calender";
  grid-template-columns: repeat(3, 284px);
  grid-template-rows: 368px repeat(2, 180px);
  grid-gap: 18px;
}
.credit-card {
  grid-area: credit-card;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px 20px 28px 20px;
  box-sizing: border-box;
  &__title {
    @include font-family();
    margin: 0 0 30px;
    letter-spacing: 1px;
  }
  &__card {
    background-image: url(../../images/bg-credit-card@1X.png);
    background-repeat: no-repeat;
    width: 234px;
    height: 124px;
    border-radius: 3px;
    position: relative;
    padding-bottom: 35px;
    border-bottom: 1px solid #e8dcdb;
    margin: 0 auto 22px;
  }

  &__number {
    @include font-family(#fff);
    letter-spacing: 2px;
    position: absolute;
    top: 36px;
    left: 22px;
  }
  &__validity-period {
    @include font-family(rgba(255, 255, 255, 0.7), 13px);
    letter-spacing: 2px;
    position: absolute;
    top: 88px;
    left: 20px;
  }
  &__text {
    @include font-family(rgba(255, 255, 255, 0.7), 13px);
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    top: 88px;
    right: 38px;
    letter-spacing: 0.9px;
  }
  .table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  .table__cell-name {
    width: 101px;
    line-height: 27px;
    @include font-family(#b2b5b8, 13px);
    letter-spacing: 0.5px;
  }
  .table__cell-value {
    width: 101px;

    @include font-family($main-color, 13px);
    letter-spacing: 0.5px;
  }
}
.statistics {
  grid-area: statistics;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 24px 20px 24px 20px;
  box-sizing: border-box;
  &__title {
    @include font-family();
    margin: 0 0 0 3px;
    letter-spacing: 1px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
  }
  &__container {
    display: flex;
    margin: 0;
  }
  &__month {
    display: flex;
    align-items: center;
    &::after {
      content: "";
      display: block;
      background-image: url(../../images/icon-arrow-down.svg);
      background-repeat: no-repeat;
      width: 10px;
      height: 8px;
      margin-left: 4px;
    }
  }
  &__year {
    display: flex;
    align-items: center;
    margin-right: 32px;
    &::after {
      content: "";
      display: block;
      background-image: url(../../images/icon-arrow-down.svg);
      background-repeat: no-repeat;
      width: 10px;
      height: 8px;
      margin-left: 6px;
    }
  }
}
.earning {
  grid-area: earning;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 27px 34px 26px 20px;
  box-sizing: border-box;
  &__title {
    @include font-family();
    margin: 0 0 25px;
    letter-spacing: 1px;
  }
  &__chart {
    width: 138px;
    // box-sizing: border-box;
    padding: 0 47px 24px;
    border-bottom: 1px solid #e8dcdb;
    margin: 0 auto 24px;
    position: relative;
  }
  &__value {
    @include font-family($main-color, 24px);
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -100%);
  }
  .table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 28px;
  }
  .table__cell-name {
    width: 59px;

    @include font-family(#8d99a3, 13px);
    letter-spacing: 0.5px;
  }
  .table__cell-value {
    width: 109px;

    @include font-family($main-color, 13px);
    letter-spacing: 0.5px;
    text-align: right;
  }
}
.montly-sale {
  grid-area: montly-sale;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 28px 21px 0 27px;
  box-sizing: border-box;
  position: relative;
  &__title {
    @include font-family();
    margin: 0 0 30px;
    letter-spacing: 1px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__value {
    @include font-family($main-color, 32px);
    margin: 6px 0 6px 0;
    display: block;
  }
  &__name {
    @include font-family(#8d99a3, 13px);
    display: block;
    // line-height: 20px;
  }
  &__bar {
    line-height: 24px;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: -8px;
    left: 0;
  }
  &__icon {
    border-radius: 4px;
  }
}
.yealy-sale {
  grid-area: yealy-saled;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 28px 21px 0 27px;
  box-sizing: border-box;
  position: relative;
  &__title {
    @include font-family();
    letter-spacing: 1px;
    margin: 0 0 28px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__value {
    @include font-family($main-color, 32px);
    margin: 6px 0 6px 0;
    display: block;
  }
  &__name {
    @include font-family(#8d99a3, 13px);
    display: block;
    // line-height: 20px;
  }
  &__bar {
    line-height: 24px;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: -7px;
    left: 0;
  }
  &__icon {
    border-radius: 4px;
  }
}
.calender {
  grid-area: calender;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 35px 4px 24px 30px;
  box-sizing: border-box;

  &__icon {
    border-radius: 4px;
    margin-right: 17px;
  }
  &__now_date {
    @include font-family(#748088, 13px);
    margin: 0;
    line-height: 20px;
  }
  &__title {
    @include font-family();
    margin: 0;
    letter-spacing: 1px;
  }
  &__wrapper {
    display: flex;
    align-items: center;
  }
}



.myChart{
  width: 100%;
  height: 200%;

}

.Charts{
  position: absolute;
  width: 100%;
  height: 10%;
  top: 4%;
  left: 2%;
  right: 2%;
  
  background-size: 97%;
}